importFrom(stringdist,stringdist)
export(add_percent)
export(age_groups)
export(apply_suppression)
export(batch_load_vrbis)
export(baby_name)
export(clean_address)
export(closest_city_match)
export(complete_dates)
export(pretty_words)
export(recode_gender)
export(recode_race)
export(remove_empty_cols)
export(split_df)
export(to_mmwr_date)
export(to_month)
export(week_ending_date)
